body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5; /* Light grey background */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #001529; /* Dark blue text */
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  flex-direction: column;
  background-color: #fff; /* White background for content */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.formStyle{
  padding: 20px;
  border: 2px solid #1890ff; /* Blue border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.formStyle:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* More shadow on hover */
}

.form-control{
  border-color: black !important;
}